<div *ngIf="document" class="viewer">
  <button mat-flat-button type="button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>
  <h1>{{ document.name }}</h1>
  <div class="zoom-controls">
    <button mat-icon-button (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-button (click)="resetZoom()"><mat-icon>replay</mat-icon> Reset</button>
  </div>
  <div class="annotation-controls">
    <button mat-raised-button color="primary" (click)="addTextAnnotation()">
      Add Text Annotation
    </button>
    <button mat-raised-button color="primary" (click)="addImageAnnotation()">
      Add Image Annotation
    </button>
    <button mat-raised-button color="accent" (click)="saveAnnotations()">Save</button>
  </div>
  <div class="content" [style.transform]="zoomStyle">
    @for ( page of document.pages; track page.number) {
    <div class="page">
      <img
        [src]="page.imageUrl"
        [alt]="'Page ' + page.number"
        [style.width.%]="zoomLevel"
      />
    </div>
    }
  </div>
  @for ( annotation of document.annotations; track annotation.id) {
  <div
    class="annotation"
    cdkDrag
    [cdkDragFreeDragPosition]="{ x: annotation.left, y: annotation.top }"
    (cdkDragEnded)="onAnnotationDragEnd(annotation, $event)"
  >
    <div
      *ngIf="annotation.type === 'text'"
      class="text-annotation"
      (dblclick)="editAnnotation(annotation)"
    >
      <form [formGroup]="annotationForms[annotation.id]" *ngIf="annotation.editing">
        <mat-form-field *ngIf="annotation.editing">
          <mat-label>Annotation</mat-label>
          <input
            matInput
            type="text"
            *ngIf="annotation.editing"
            formControlName="content"
            (blur)="stopEditing(annotation)"
            required
          />
          <mat-error
            *ngIf="annotationForms[annotation.id].get('content')?.hasError('required')"
          >
            Required
          </mat-error>
        </mat-form-field>
      </form>

      <span *ngIf="!annotation.editing">{{ annotation.content }}</span>
      <button mat-icon-button (click)="removeAnnotation(annotation)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div *ngIf="annotation.type === 'image'" class="image-annotation">
      <img [src]="annotation.content" alt="Annotation Image" />
      <button mat-icon-button (click)="removeAnnotation(annotation)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }
  <div *ngIf="!document">Loading...</div>
</div>
