body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900);
  background: #f0f0f0;
  box-sizing: border-box;
  justify-self: center;
}
